.card {
  width: 20%;
  margin-left: 30%;
  border: solid 1px greenyellow;
  padding: 2rem 1rem;

  color: white;
  font-size: 12px;
  position: relative;
  border-radius: 5px;
}

.wrap {
  width: 60%;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}
.user-item {
  position: relative;
  border: solid 1px yellow;
  border-radius: 12px;
  margin: 0.5rem 1rem;
  width: 200px;
  height: 200px;
  background-color: black;
  overflow: hidden; /* Prevent text from overflowing */
}

#gender {
  font-style: oblique;
}

.avatar {
  width: 100px;
  height: 100px;
  object-fit: cover;
  transition: width 1s ease-out;
}

.user-item:hover .avatar {
  width: 150px;
}

.userpic-container {
  position: absolute;
  top: 30%;
  left: 0;
  right: 0;
  transform: translateY(-50%);
  display: flex;
  justify-content: center;
  align-items: center;
}

.usertext-container {
  position: absolute;
  bottom: 0;
  left: 0;
  right: 0;
  padding: 0.5rem;
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}
