.card {
  width: 20%;
  margin-left: 30%;
  border: solid 1px blue;
  padding: 2rem 1rem;
  color: blue;
  font-size: 12px;
  position: relative;
  border-radius: 5px;
}

.card h1 {
  color: black;
  font-size: 18px;
}

.wrap {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
}

.user-item {
  border: solid 1px black;
  border-radius: 12px;
  padding: 1rem 2rem;
  margin: 1rem 2rem;
  overflow: auto;
}

#gender {
  font-style: oblique;
}
